<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <arg name="tip_link" default="link_7"/>
    <arg name="sim" default="false" />
    <arg name="debug" default="false" />
    <arg name="rviz" default="true" />
    <arg name="log_level" default="info" />

    <arg name="load_base" default="true" />
    <arg name="load_ati_sensor" default="true" />
    <arg name="load_table" default="true" />
    <arg name="load_handle" default="true" />
    <arg name="load_head_cam" default="true" />
    <arg name="load_screwdriver" default="true" />
    <arg name="robot_description_upload_file" default="$(find lwr_description)/launch/lwr_upload.launch"/>

    <arg name="gazebo_gui" default="true"/>

    <!-- The parameters that the JT Controller sensor will get -->
    <rosparam ns="lwr_sim_traj_kdl" subst_value="true">
        trap_max_vels: [1.5, 1.5, 1.5, 1.8, 1.0, 0.5, 0.5]
        trap_max_accs: [0.2, 0.6, 0.6, 0.4, 0.6, 0.06, 0.06]
        position_tolerance: [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
    </rosparam>
    <!--============ LWR Runner script ===============-->

    <include file="$(find lwr_utils)/launch/run.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="ops_script" value="$(find rtt_joint_traj_generator_kdl)/launch/run.ops"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="tip_link" value="$(arg tip_link)"/>
        <arg name="load_base" value="$(arg load_base)" />
        <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
        <arg name="load_table" value="$(arg load_table)" />
        <arg name="load_handle" value="$(arg load_handle)" />
        <arg name="load_head_cam" value="$(arg load_head_cam)" />
        <arg name="load_screwdriver" value="$(arg load_screwdriver)" />
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="robot_description_upload_file" value="$(arg robot_description_upload_file)"/>
    </include>

</launch>
